<div class="ui-page ui-wizzard" data-role="page">
   <div data-role="header">
      
   </div>
   <div class="main-pages-content">
      Da rolla
   </div>
   <div data-role="footer">
      <input type="button" value="Previous" data-icon="arrow-l" class="and-button-prev"/>
      <div style="float: right;">
      <input type="button" value="Next" data-icon="arrow-r" data-iconpos="right" class="and-button-next"/>
      </div>
   </div>
</div>
